header {
    background-color: var(--color-2);
    color: var(--color-1);
}

header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

header .navbar-toggler {
    border-color: var(--color-0)
}

header .navbar-toggler:focus {
    box-shadow: none
}

header .navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

header .navbar-brand span {
    color: var(--color-0);

}

header .nav-item .nav-link {
    color: var(--color-0);
}

header .nav-item .nav-link.active {
    color: var(--color-5);
}

header .nav-item .nav-link:hover,
header .nav-item .nav-link:active {
    color: var(--color-5);
}

header .navbar-nav .nav-link.active,
header .navbar-nav .nav-link.show {
    color: var(--color-5);
}

header .dropdown-menu {
    background-color: var(--color-2);
    border: none;
}

header .dropdown-item {
    color: var(--color-0);
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

header .dropdown-item:hover {
    background-color: var(--color-5);
    color: var(--color-1);
}

header .dropdown-item.active {
    background-color: var(--color-5);
    color: var(--color-1);
}

header .dropdown.active>.dropdown-toggle {
    color: var(--color-5);
}