@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body {
    font-family: 'Nunito', 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
    
  }
  
  .header {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 100% 80%;
    border-bottom-right-radius: 100% 80%;
  }
  
  .main-image { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.7;
    overflow: hidden;
  }
  
  .title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(209, 211, 255, 0.5); 
    color: #0E1140;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: clamp(1rem, 2.5vw, 2rem);
    padding: 10px 20px;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .info-section {
    flex: 1 1 55%;
    background-color: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
  }
  
  .section-title {
    background-color: #5B61D9;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-block;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif; 
  }

  .diagram-section {
    flex: 1 1 35%;
    text-align: center;
  }
  
  .canvas-wrapper {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    background: #fff;
  }

  .info-section ul {
    list-style: none;
    padding-left: 1.5rem;
  }
  
  .info-section ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 1.5rem;
  }
  
  .info-section ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 8px;
    height: 8px;
    background-color: #0E1140;;
    border-radius: 50%;
  }