.gradient-bg {
  background: radial-gradient(circle, var(--color-0) 0%, var(--color-6) 70%);
}

.hero-section {
  background: url('/images/home/banner-main.webp') center/cover no-repeat;
  height: 350px;
}

.lead{
    color: var(--color-6);
}

.hero-tittle{
    color: var(--color-0);
}
