@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');


:root {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-0);
    background-color: var(--color-0);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*Disable mobile zoom*/
    touch-action: manipulation;
    /*Colors*/
    --color-0: #FFFFFF;
    --color-1: #000000;
    --color-2: #020873;
    --color-3: #0E1140;
    --color-4: #5B61D9;
    --color-5: #9EA3FF;
    --color-6: #D1D3FF;
    --color-7: #333333;
}

/* Body */
html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    user-select: none;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button {
    font-family: 'Source Sans 3', sans-serif;
    background-color: var(--color-4);
    color: var(--color-0);
    font-weight: 400;
    font-size: 1rem;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-2);
    border-color: var(--color-5);
}

p {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    color: var(--color-7);
}

a {
    font-weight: 500;
    color: var(--color-6);
    text-decoration: inherit;
}

a:hover {
    color: var(--color-0);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--color-1);
    font-size: 3rem;
    line-height: 1.1;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--color-1);
    font-size: 1.5rem;
    line-height: 1.1;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--color-1);
    font-size: 1.5rem;
    line-height: 1.1;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--color-1);
    font-size: 1.1rem;
    line-height: 1.1;
}

li {
    list-style-type: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
